# Virtual environments
.venv/
venv/
env/

# Jupyter clutter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Dataset (too large for GitHub — download from Kaggle)
data/fake_job_postings.csv

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
